<div class="app flex-row">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <p class="text-muted">Set New Password</p>
                <form name="form" (ngSubmit)="f.form.valid && SetPassword()" #f="ngForm">
                  <div class="input-group mb-3" [ngClass]="{ 'has-error': !f.submitted }">
                    <input type="password" class="form-control" [ngClass]="{ 'is-invalid': HasErrors }" name="pwdInput"
                           [disabled]="IsLoading || NoUsername" [(ngModel)]="NewPassword" (keyup.enter)="SetPassword()" required focusElement 
                           placeholder="Password"/>
                    </div>
                    <div>
                    <input type="password" class="form-control" [ngClass]="{ 'is-invalid': HasErrors }" name="confirmation"
                           [disabled]="IsLoading || NoUsername" [(ngModel)]="Confirmation" (keyup.enter)="SetPassword()" required 
                           placeholder="Repeat Password"/>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-6">
                      <button [disabled]="IsLoading || NoUsername" type="button" class="btn btn-primary btn-ladda" (click)="SetPassword()" data-style="expand-right" [ladda]='IsLoading'>Set Password</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0" href="#" routerLink='/login'>Cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  