.card {
    min-height: 0px;
    text-align: center;
    background-color: #ffffb1;

    .card-body {
        padding: .5rem;
    }


    .release-note:not(:first-child) {
        margin-top: 5px;
    }
}

.close {
    cursor: pointer;
}