<div class="card" *ngIf="!isLoading">
  <div class="card-header">
    Alert Groups
  </div>
  <div class="card-body">
    <div class="row">
      <button type="button" class="btn btn-primary" (click)="create(alertGroupEdit)">
        <i class="icon-plus icons"></i>&nbsp; Create
      </button>
    </div>
    <div class="row mt-3">
      <app-no-data *ngIf="!isLoading" [dataExists]="model?.length > 0" message="alert groups">
      </app-no-data>

      <div *ngIf="model?.length>0">
        <p-table [value]="model" [rows]="25" [paginator]="model?.length > 25" #dt>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 200px"></th>
              <th pSortableColumn="name">Name
                <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th>Members</th>
            </tr>
            <tr>
              <th></th>
              <th>
                <input pInputText type="text" (input)="dt.filter($event.target.value, 'name', 'contains')">
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              <td>
                <button type="button" class="btn btn-success" (click)="edit(item)">
                  <i class="icon-pencil icons"></i>&nbsp; Edit</button>
                <button type="button" class="btn btn-danger" (click)="delete(item)">
                  <i class="icon-ban icons"></i>&nbsp; Delete</button>
              </td>
              <td>
                {{item.name}}
              </td>
              <td>{{item.members ? item.members.length : 0}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

<!-- .modal -->
<ng-template #alertGroupEdit>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Create Group</h4>
      <button type="button" class="close" (click)="cancel()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group row">
        <label class="col-lg-4 col-md-5 col-form-label">Name</label>
        <div class="col-lg-8 col-md-7">
          <input class="form-control" [(ngModel)]="selectedGroup.name" required />
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="save()">Save
      </button>
    </div>
  </div>
</ng-template>
<!-- /.modal -->
