<div>
  <div class="row col-md-12">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Device Configuration
        </div>
        <div class="card-body">
          <div class="form-group row">
            <label class="col-lg-12 col-md-12 col-form-label text-left">Enable</label>
            <div class="col-lg-8 col-md-7">
              <label class="switch switch-text switch-pill switch-success">
                <input type="checkbox" class="switch-input" [(ngModel)]="model.enabled">
                <span class="switch-label" data-on="Yes" data-off="No"></span>
                <span class="switch-handle"></span>
              </label>
            </div>
          </div>
          <div *ngIf="model.enabled">
            <div class="form-group row">
              <label class="col-lg-12 col-md-12 col-form-label text-left">Provide device specific credentials?</label>
              <div class="col-lg-8 col-md-7">
                <label class="switch switch-text switch-pill switch-success">
                  <input type="checkbox" class="switch-input" [(ngModel)]="model.overrideCredentials">
                  <span class="switch-label" data-on="Yes" data-off="No"></span>
                  <span class="switch-handle"></span>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-lg-6">
                <div class="form-group">
                  <label class="col-form-label" for="">Username</label>
                  <input type="text" class="form-control"  [disabled]="!model.overrideCredentials"
                         [(ngModel)]="model.userName"/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-lg-6">
                <div class="form-group">
                  <label class="col-form-label" for="">Password</label>
                  <input type="password" class="form-control"  [disabled]="!model.overrideCredentials"
                         [(ngModel)]="model.password"/>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-12 col-md-12 col-form-label text-left">Enabled password required?</label>
              <div class="col-lg-8 col-md-7">
                <label class="switch switch-text switch-pill switch-success">
                  <input type="checkbox" class="switch-input" [(ngModel)]="model.enablePasswordRequired">
                  <span class="switch-label" data-on="Yes" data-off="No"></span>
                  <span class="switch-handle"></span>
                </label>
              </div>
            </div>
            <div class="row" *ngIf="model.enablePasswordRequired">
              <div class="col-md-12 col-lg-6">
                <div class="form-group">
                  <label class="col-form-label" for="">Enable Password</label>
                  <input type="password" class="form-control"  [(ngModel)]="model.enablePassword"/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-lg-6">
                <div class="form-group">
                  <label class="col-form-label" for="">Protocol</label>
                  <select class="form-control" (change)="updateDevicePortNumber()"
                          [(ngModel)]="model.protocol">
                    <option [value]="protocol.name" *ngFor="let protocol of protocols">{{protocol.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12  col-lg-6">
                <div class="form-group">
                  <label class="col-form-label" for="">Port</label>
                  <input type="numeric" class="form-control"  [(ngModel)]="model.port"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="text-center">
            <button class="btn btn-primary" (click)="saveBackups()">Save</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <backups-list [Data]="backups" [isLoading]="areBackupsLoading"></backups-list>
    </div>
  </div>
</div>
