<div class="app flex-row">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <p class="text-muted">Reset Your Password</p>
                <form name="form" #f="ngForm">
                  <div class="input-group mb-3" [ngClass]="{ 'has-error': !f.submitted && !username.valid }">
                    <input type="text" class="form-control"[ngClass]="{ 'is-invalid': HasErrors }" name="username"
                           [disabled]="IsLoading"
                           [(ngModel)]="User.Username" (keyup.enter)="Reset()"
                           #username="ngModel" required
                           placeholder="Username"
                           focusElement />
                    <div *ngIf="f.form.submitted && !username.valid" class="help-block">Required</div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button [disabled]="IsLoading || !username.valid" type="button" class="btn btn-primary btn-ladda" (click)="Reset()" data-style="expand-right" [ladda]='IsLoading'>Reset</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0" href="#" routerLink='/login'>Cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    